@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

/* Custom Hide Scrollbar Utility */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}